
<div class="p-3 ">
    <div class="flex justify-content-center flex-column align-items-center">
        <mat-icon color="primary" class="text-6xl">error_outline</mat-icon>
        <h3 *ngIf="data.title" class="text-base font-bold" [innerHTML]="data.title"></h3>
        <p *ngIf="data.message" [innerHTML]="data.message"></p>
    </div>

    <div class="flex justify-content-evenly mt-4" [class.only-button]="!data.buttonCancel || !data.buttonAction">
        <app-button
            *ngIf="data.buttonCancel"
            [label]="data.buttonCancel"
            [severity]="buttonType.LIGHT"
            (clicked)="clickOnHide()"
        ></app-button>
        <app-button
            *ngIf="data.buttonAction"
            [label]="data.buttonAction"
            (clicked)="clickBtnAction()"
        ></app-button>
    </div>
</div>