<mat-card appearance="outlined">
  <mat-card-header>
    @if(customHeader){
        <ng-container *ngTemplateOutlet="customHeader"></ng-container>
    } @else {
        <mat-card-title *ngIf="title">{{title()}}</mat-card-title>
        <mat-card-subtitle *ngIf="subTitle">{{subTitle()}}</mat-card-subtitle>
    }
  </mat-card-header>

  @if(customContent){
    <mat-card-content>
      <ng-container *ngTemplateOutlet="customContent"></ng-container>
    </mat-card-content>
  }

  @if(customActions){
    <mat-card-actions [classList]="customActionsClass()">
      <ng-container *ngTemplateOutlet="customActions"></ng-container>
    </mat-card-actions>
  }
</mat-card>