<app-card [title]="title()" [customActionsClass]="actions_class">
    <ng-template #customContent>
        <form class="mt-4">
            <div class="grid">
                <div class="col-4">
                    <app-input
                        label="Nombre"
                        [addRequired]="true"
                        [control]="formGroup.controls[HERO_FORM.Name]"
                        [maxLength]="100"
                        autocomplete="off"
                    ></app-input>
                </div>
                <div class="col-4">
                    <app-input
                        label="Power"
                        [addRequired]="true"
                        [control]="formGroup.controls[HERO_FORM.Power]"
                        [maxLength]="100"
                        autocomplete="off"
                    ></app-input>
                </div>
                <div class="col-4">
                    <app-input
                        label="Universo"
                        [addRequired]="true"
                        [control]="formGroup.controls[HERO_FORM.Universe]"
                        [maxLength]="100"
                        autocomplete="off"
                    ></app-input>
                </div>
            </div>
            <div class="grid">
                <div class="col-4">
                    <app-input
                        label="Edad"
                        [addRequired]="true"
                        [type]="'number'"
                        [control]="formGroup.controls[HERO_FORM.Age]"
                        [min]="1"
                        [max]="100"
                        autocomplete="off"
                    ></app-input>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template #customActions>
        <app-button
            [classList]="'mr-4'"
            [label]="'Cancelar'"
            [severity]="buttonType.LIGHT"
            (clicked)="clickBtnCancel()"
        ></app-button>
        <app-button
            [label]="'Guardar'"
            [severity]="buttonType.PRIMARY"
            (clicked)="clickBtnSave()"
        ></app-button>
    </ng-template>
</app-card>